

body{
        background-image: linear-gradient( to right, white 3%, rgb(2, 214, 161) 30%, rgb(0, 247, 255) 40%, rgb(107, 207, 68) ); 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       user-select: none;
    }       
   
    .piscar{
        animation: piscar 1s infinite;
    }

    @keyframes piscar{
      0%{ background: linear-gradient(red,blue,red);
          color: rgb(255, 255, 255);    
      }
      50%{
          background: linear-gradient(blue,red,blue);
          color: white;
      }
  
      100%{   background: linear-gradient(red,blue,red); 
               color: rgb(255, 255, 255);    
      }
      
      
  }
